html{

    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: lato;
    src: url(Lato-Regular.ttf);
}
@font-face {
    font-family: lato-bold;
    src: url(Lato-Bold.ttf);
}
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}
@keyframes typingSmall {
    from {
        width: 0
    }

    to {
        width: 2%;
        overflow: show;
    }
}
@keyframes  fadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
body {
    font-family: lato;
    background-color: #252b3f;
    color: rgb(226, 220, 207);
    height: fit-content;
}
.tooltip {
  position: relative;
  display: inline-block;
  
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  
  font-size:15px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  line-height: 15px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.header{
padding: 0%;
margin: 0px;
font-size: 40px;
font-family: lato-bold;

}
.content{

    font-size: 20px;
    font-family: lato;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 2px;
}
.scrollingText {
        white-space: nowrap;
        overflow: hidden;
        border-right: rgb(219, 204, 172) 3px solid;
        
        margin: 0 auto;
        letter-spacing: .15em;
        
    
    
    
        position: absolute;
    
        display: block;
    
    
        width: auto;
        height: 60px;
    
    
    
        animation-name: typing;
        animation-duration: 3.5s;
    
        animation-fill-mode: both;
}